<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>species</key>
		<string>Gans</string>
		<key>link</key>
		<string>https://de.wikipedia.org/wiki/G%C3%A4nse</string>
		<key>image</key>
		<string>gans.jpg</string>
		<key>description</key>
		<string>Die Gänse (Anserinae) sind in der biologischen Systematik der Vögel eine Unterfamilie der Entenvögel.</string>
	</dict>
	<dict>
		<key>species</key>
		<string>Hausesel</string>
		<key>link</key>
		<string>https://de.wikipedia.org/wiki/Hausesel</string>
		<key>image</key>
		<string>esel.jpg</string>
		<key>description</key>
		<string>Der Hausesel (Equus asinus asinus) ist ein weltweit verbreitetes Haustier. Seine Stammform ist der Afrikanische Esel. </string>
	</dict>
</array>
</plist>
